@using Hiephashop.Application.DTOs.Supplier;
@model IEnumerable<SupplierRequest>
@{
    ViewData["Title"] = "Thông tin nhà cung cấp";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var data = Model != null ? Model.ToList() : new List<SupplierRequest>();
}
<style>
    .title-table {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .imgLogo {
        width: 100px;
    }
    
</style>
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3 title-table">
                    <h6 class="m-0 font-weight-bold text-primary">@ViewData["Title"]</h6>
                    <a href="/Admin/Supplier/Create" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-flag"></i>
                        </span>
                        <span class="text">Thêm</span>
                    </a>
                </div>
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="width: 10%">Mã</th>
                                    <th style="width: 20%">Tên</th>
                                    <th style="width: 30%">Mô tả</th>
                                    <th style="width: 25%">Logo</th>
                                    <th style="width: 15%">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in data)
                                {
                                    <tr>
                                        <td>@item.Code</td>
                                        <td>@item.Name</td>
                                        <td>@item.Decription</td>
                                        <td><img class="imgLogo" src="@item.Logo" alt="@item.Name" loading="lazy"/></td>
                                        <td>
                                            <a href="/Admin/Supplier/Edit/@item.Code" class="btn btn-warning btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-exclamation-triangle"></i>
                                                </span>
                                                <span class="text">Sửa</span>
                                            </a>
                                            <a href="/Admin/Supplier/Delete/@item.Code" class="btn btn-danger btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-trash"></i>
                                                </span>
                                                <span class="text">Xóa</span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

</div>
<!-- End of Content Wrapper -->